# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dll

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/
*.sln.iml
*.DotSettings.user

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test Results
[Tt]est[Rr]esult*/
coverage.*
*.coverage
*.coveragexml
lcov.info

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# macOS
.DS_Store

# User-specific files
*.rsuser
*.suo
*.userprefs 